# -*- coding: utf-8 -*-
# vim: ft=yaml

common:
  enabled: true

gotask:
  cli:
    enabled: true

scorecard:
  cli:
    enabled: true

sops:
  cli:
    enabled: true

opa:
  cli:
    enabled: true
  conftest:
    enable: true

yq:
  cli:
    enabled: true

openslo:
  oslo:
    cli:
      enabled: true

prometheus:
  cli:
    enabled: false

aquasecurity:
  falco:
    enabled: false
  trivy:
    enabled: true

falcosecurity:
  falco:
    enabled: false

opentofu:
  cli:
    enabled: true

hashicorp:
  terraform:
    cli:
      enabled: true

pulumi:
  cli:
    enabled: true

kubernetes:
  cli:
    enabled: true
  helm:
    enabled: true
  azure:
    kubelogin:
      enabled: true
  k9s:
    enabled: true
  kind:
    enabled: true
  kustomize:
    enabled: true

istio:
  cli:
    enabled: false

cilium:
  cli:
    enabled: false
  hubble:
    enabled: fasle

kyverno:
  cli:
    enabled: false

pixie:
  cli:
    enabled: false

ldap:
  enabled: true

aws:
  cli:
    enabled: false
  nuke:
    enabled: false
  samcli:
    enabled: false
  eksctl:
    enabled: false
  rolesanywhere:
    ca:
      enabled: false
      ca_cert:
        cn: "My Org IAM Roles Anywhere CA"
        O: "My Organization"
        OU: "Platform Engineering"
        C: "US"
        ST: "California"
        L: "San Francisco"
      certificates:
        example-workload:
          cn: "workload.example.com"
          days_valid: 365
          days_remaining: 30

kiro:
  cli:
    enabled: false
  crew:
    enabled: false

microsoft:
  azure:
    cli:
      enabled: false
  odbc:
    cli:
      enabled: false

google:
  cloud:
    cli:
      enabled: false

hetzner:
  cli:
    enabled: false

scaleway:
  cli:
    enabled: false

argo:
  cd:
    cli:
      enabled: false
  workflows:
    cli:
      enabled: false

openfaas:
  cli:
    enabled: false

nuclio:
  cli:
    enabled: false

fission:
  cli:
    enabled: false

minio:
  cli:
    enabled: false

github:
  cli:
    enabled: true
  copilot:
    enabled: false

gitlab:
  cli:
    enabled: false

go:
  sdk:
    enabled: true

fluxcd:
  cli:
    enabled: true

weave:
  flamingo:
    cli:
      enabled: false
  gitops:
    cli:
      enabled: false
  
sloth:
  cli:
    enabled: false

bom:
  cli:
    enabled: true

crossplane:
  cli:
    enabled: false

terraform_docs:
  cli:
    enabled: true

terragrunt:
  cli:
    enabled: true

firecracker-microvm:
  firecracker:
    enabled: true

opencost:
  cli:
    enabled: true

multica:
  cli:
    enabled: false
    service:
      enabled: false
      user: root
      group: root
      home: /root

rclone:
  cli:
    enabled: true

nvm:
  cli:
    enabled: false

agentgateway:
  enabled: false
  iam_roles_anywhere:
    enabled: false
    profile_name: agentgateway
    trust_anchor_arn: "arn:aws:rolesanywhere:us-east-1:123456789012:trust-anchor/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    profile_arn: "arn:aws:rolesanywhere:us-east-1:123456789012:profile/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    role_arn: "arn:aws:iam::123456789012:role/MyRolesAnywhereRole"
    ca_dir: /etc/pki/rolesanywhere
    certificate:
      cn: "agentgateway"
      bits: 2048
      days_valid: 365
      days_remaining: 30
    region: us-east-1

oh-my-pi:
  cli:
    enabled: false