# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Start imports #}
{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set multica = salt['pillar.get']('multica:cli', default=defaults['multica'], merge=True) %}