# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Start imports #}
{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set ira = salt['pillar.get']('aws:rolesanywhere:ca', default=defaults['ira'], merge=True) %}
