# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Start imports #}
{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set sloth = salt['pillar.get']('sloth:cli', default=defaults['sloth'], merge=True) %}